.navbar-lewagon {
  justify-content: space-between;
  background-color: #161616;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  color :white;
}

